:root {
    --transition: all 400ms ease;
    --container-width-lg: 75%;
    --container-width-md: 85%;
    --container-width-sm: 95%;

    --color-white: #fff;
    --color-primary: #4db5ff;
    --color-bg: #1f1f38;
    --color-bg-variant: #2e2e65;
    --color-primary-variant: rgba(77, 181, 255, 0.4);
    --color-light: rgba(255, 255, 255, 0.6);
}

#services{
    padding-top: 8rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.service_container {
    padding-top: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 3rem;
}

.service {
    background: var(--color-bg-variant);
    border-radius: 2rem;
    border: 1px solid transparent;
    height:auto;
    margin: 0 35px 0 35px;
}

.service:hover {
    background: transparent;
    border-color: var(--color-light);
    cursor: default;
    transition: var(--transition);
}

.service_head {
    color: var(--color-primary);
    padding: 2rem;
    border-radius: 0 0 2rem 2rem;
    box-shadow: 0 2rem 1re rgba(0, 0, 0, 0, 1);
}

.service_head h3{
    text-align: center;
}

.service_list{
    padding: 2rem;
}

.service_list li {
    font-size: 1.3rem;
    list-style: none;
    word-wrap: break-word;
    display: flex;
    gap: 1rem;
    margin-bottom: 0.8rem;
}

.service_icon {
    color: var(--color-primary);
    margin-top: 2px;
}

.service_list p{
    font-size: 0.9rem;
}


@media screen and (max-width : 1024px) {
    .service_container{
        grid-template-columns: 1fr 1fr;
        gap: 2rem;
    }

    .service {
        padding: 1rem;
    }

    #services{
        padding-bottom: 1rem;
        margin-top: 0;
    }
}

@media screen and (max-width : 1200px) {
    h3{
        font-size: 1.5rem;
    }

    li{
        font-size: 0.9rem;
    }
}

@media screen and (max-width : 1000px) {
    li{
        font-size: 1.2rem;
    }
}

@media screen and (max-width : 800px) {
    li{
        font-size: 1rem;
    }
}

@media screen and (max-width : 770px) {
    .service_container {
        grid-template-columns: 1fr;
    }
}