:root {
    --transition: all 400ms ease;
    --container-width-lg: 75%;
    --container-width-md: 85%;
    --container-width-sm: 95%;

    --color-white: #fff;
    --color-primary: #4db5ff;
    --color-bg: #1f1f38;
    --color-bg-variant: #2c2c6c;
    --color-primary-variant: rgba(77, 181, 255, 0.4);
    --color-light: rgba(255, 255, 255, 0.6);
}

#about {
    text-align: center;
}

.about_container {
    padding-top: 1.5rem;
    display: flex;
    justify-content: center;
}

.about_box {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 1.5rem;
}

.about_card {
    background: var(--color-bg-variant);
    border: 1px solid transparent;
    border-radius: 1rem;
    padding: 2rem;
    text-align: center;
}

.about_card:hover {
    background: transparent;
    backdrop-filter: var(--color-primary-variant);
    border: 1px solid;
    transition: var(--transition);
    cursor: default;
}

.about_card h5 {
    font-size: 0.95rem;
}

.about_card-icon {
    color: var(--color-primary);
    font-size: 1.4rem;
    margin-bottom: 1rem;
}

.about_card>small {
    font-size: 0.7rem;
    color: var(--color-light);
}

.about_content p {
    margin: 2rem 0 2.6rem;
    color: var(--color-light);
}

@media screen and (max-width : 1024px) {
    .about_container {
        gap: 0;
    }

    .about_content p {
        margin: 1rem 0 1.5rem;
    }

    #about{
        padding-bottom: 1rem;
    }
}

@media screen and (max-width : 780px) {
    .about_box {
        grid-template-columns: 1fr;
        gap: 1rem;
    }
}

@media screen and (max-width : 600px) {
    .about_container {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .about_content p {
        text-align: center;
    }

    .about_content p {
        margin: 1rem 0;
    }
}

@media screen and (max-width : 360px) {
    .about_container {
        grid-template-columns: 1fr;
        gap: 0;
    }

    .about_box {
        grid-template-columns: 1fr;
        gap: 0.5rem;
    }

    .about_content p {
        text-align: center;
    }

    .about_content p {
        margin: 1rem 0;
    }
}